# List of user IDs (phone numbers with country code) allowed to use the bot in private mode
# Separate multiple numbers by commas, no "+" sign
# Example: "2349xxxxxxx7,2348xxxxxxx9"
SUDO="2349xxxxxxx7,2348xxxxxxx9"

# PostgreSQL database connection string:
# Format: postgres://username:password@hostname:port/databasename
DATABASE_URL=postgres://username:password@localhost:5432/dbname

# Environment mode: "development" or "production"
GO_ENV=development

# Bot usage mode: "public" or "private"
MODE=private

# Prefix to use for the bot commands. 
# Use a single character like "!" or multiple inside brackets, e.g. [?!.#]
PATTERN=.

# Set true to show chat messages in logs (true or false)
LOG_MSG=true

# Phone number with country code to pair the bot (use full international format, no "+" sign)
# Example: "2348xxxxxxx9"
PAIRING_NUMBER="2348xxxxxxx9"

# Automatically react to WhatsApp status updates with love emojis
# Set to true to enable, false to disable
AUTO_STATUS_REACT=false

# Automatically mark WhatsApp status updates as read
# Set to true to enable, false to disable
AUTO_STATUS_READ=false

# Sticker packname and author, separated by comma
STICKER_PACKNAME=❤️,kaidenki